.projects__title h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 5%;
  
    @media screen and (max-width: 960px) {
        margin-top: 70px;
    }
}
  
.card__wrapper {
    display: flex;
    overflow-y: hidden;
  
    // &::-webkit-scrollbar {
    //   display: none;
    // }
  
    .card {
        width: 20rem;
        margin: 20px;
    }
    
    .card:hover {
        box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
    }
    
    .card-text {
        font-size: 14px;
        padding: 6px 30px;
    }
    
    .card-body a {
        margin-bottom: 10px;
    }

    .border {
        border: 2px solid $primary;
    }
  
    @media screen and (max-width: 960px) {
        & {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 30px;
        }
  
        .card {
            margin-top: 20px;
            margin-left: 0;
            margin-right: 0;
        }
    }
}