.page__wrapper {
    color: $primary;
    text-align: center;
    
    & h1 {
      font-size: 50px;
      font-weight: bold;
      margin-top: 10%;
    }
    
    & h2 {
      font-size: 40px;
      font-weight: bold;
      margin-top: 20px;
    }
}